# DataSci Summaritive File
**Matteo Esposito | August 2018**

## Packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import os
%matplotlib inline

### os

In [2]:
# Change working directory and load in data
os.chdir("/Users/Matteo/Github/PyProjects/data/")
df = pd.read_csv("wc_matches.csv")

### numpy

In [3]:
df.head()
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 20 columns):
date           64 non-null object
league_id      64 non-null int64
league         64 non-null object
team1          64 non-null object
team2          64 non-null object
spi1           64 non-null float64
spi2           64 non-null float64
prob1          64 non-null float64
prob2          64 non-null float64
probtie        64 non-null float64
proj_score1    64 non-null float64
proj_score2    64 non-null float64
score1         64 non-null int64
score2         64 non-null int64
xg1            64 non-null float64
xg2            64 non-null float64
nsxg1          64 non-null float64
nsxg2          64 non-null float64
adj_score1     64 non-null float64
adj_score2     64 non-null float64
dtypes: float64(13), int64(3), object(4)
memory usage: 10.1+ KB

In [4]:
df[:3]

,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,probtie,proj_score1,proj_score2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2018-06-14,1908,FIFA World Cup,Russia,Saudi Arabia,70.14,51.33,0.6615,0.1200,0.2184,2.03,0.73,5,0,1.62,0.20,1.55,0.11,4.18,0.00
1,2018-06-15,1908,FIFA World Cup,Egypt,Uruguay,62.46,79.52,0.1845,0.5433,0.2723,0.82,1.61,0,1,0.42,1.94,0.65,1.94,0.00,1.05
2,2018-06-15,1908,FIFA World Cup,Morocco,Iran,72.33,65.57,0.4004,0.2667,0.3330,1.13,0.86,0,1,0.86,0.72,0.57,0.36,0.00,1.05

In [5]:
# number of columns
df.shape[1]

20

In [6]:
# number of rows
df.shape[0]

64

### pandas

In [7]:
df["team1"].head()

0      Russia
1       Egypt
2     Morocco
3    Portugal
4      France
Name: team1, dtype: object

In [8]:
df[["team1","team2"]].head()

      team1         team2
0    Russia  Saudi Arabia
1     Egypt       Uruguay
2   Morocco          Iran
3  Portugal         Spain
4    France     Australia

In [9]:
##NOTE: This doesn't remove the column from the table in memory
df.drop('team1',axis=1).head()

,date,league_id,league,team2,spi1,spi2,prob1,prob2,probtie,proj_score1,proj_score2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2018-06-14,1908,FIFA World Cup,Saudi Arabia,70.14,51.33,0.6615,0.1200,0.2184,2.03,0.73,5,0,1.62,0.20,1.55,0.11,4.18,0.00
1,2018-06-15,1908,FIFA World Cup,Uruguay,62.46,79.52,0.1845,0.5433,0.2723,0.82,1.61,0,1,0.42,1.94,0.65,1.94,0.00,1.05
2,2018-06-15,1908,FIFA World Cup,Iran,72.33,65.57,0.4004,0.2667,0.3330,1.13,0.86,0,1,0.86,0.72,0.57,0.36,0.00,1.05
3,2018-06-15,1908,FIFA World Cup,Spain,83.47,91.30,0.2459,0.4809,0.2732,1.07,1.60,3,3,1.15,1.63,0.80,2.59,3.15,3.15
4,2018-06-16,1908,FIFA World Cup,Australia,87.18,61.69,0.7694,0.0746,0.1560,2.61,0.69,2,1,1.38,1.03,1.24,0.39,2.10,1.05

In [10]:
## Useful if your index is not the std. numerical type
## i.e. A,B,C,... (label not position)
df.iloc[0].head()

date             2018-06-14
league_id              1908
league       FIFA World Cup
team1                Russia
team2          Saudi Arabia
Name: 0, dtype: object

In [11]:
df.loc[0].head()

date             2018-06-14
league_id              1908
league       FIFA World Cup
team1                Russia
team2          Saudi Arabia
Name: 0, dtype: object

In [12]:
# Reset to default 0,1...n index
df.reset_index().head()

,index,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,proj_score1,proj_score2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,0,2018-06-14,1908,FIFA World Cup,Russia,Saudi Arabia,70.14,51.33,0.6615,0.1200,...,2.03,0.73,5,0,1.62,0.20,1.55,0.11,4.18,0.00
1,1,2018-06-15,1908,FIFA World Cup,Egypt,Uruguay,62.46,79.52,0.1845,0.5433,...,0.82,1.61,0,1,0.42,1.94,0.65,1.94,0.00,1.05
2,2,2018-06-15,1908,FIFA World Cup,Morocco,Iran,72.33,65.57,0.4004,0.2667,...,1.13,0.86,0,1,0.86,0.72,0.57,0.36,0.00,1.05
3,3,2018-06-15,1908,FIFA World Cup,Portugal,Spain,83.47,91.30,0.2459,0.4809,...,1.07,1.60,3,3,1.15,1.63,0.80,2.59,3.15,3.15
4,4,2018-06-16,1908,FIFA World Cup,France,Australia,87.18,61.69,0.7694,0.0746,...,2.61,0.69,2,1,1.38,1.03,1.24,0.39,2.10,1.05

In [13]:
df['team1'].unique()

array(['Russia', 'Egypt', 'Morocco', 'Portugal', 'France', 'Argentina',
       'Peru', 'Croatia', 'Costa Rica', 'Germany', 'Brazil', 'Sweden',
       'Belgium', 'Tunisia', 'Colombia', 'Poland', 'Uruguay', 'Iran',
       'Denmark', 'Nigeria', 'Serbia', 'South Korea', 'England', 'Japan',
       'Saudi Arabia', 'Spain', 'Australia', 'Iceland', 'Mexico',
       'Switzerland', 'Senegal', 'Panama'], dtype=object)

In [14]:
df['team1'].nunique()

32

In [15]:
# Very powerful command (frequency table)
df['team1'].value_counts().head()

France     5
Uruguay    4
Belgium    4
Brazil     4
Sweden     3
Name: team1, dtype: int64

In [16]:
def times2(x):
    return x*2

df['spi1'].apply(times2).head()

0    140.28
1    124.92
2    144.66
3    166.94
4    174.36
Name: spi1, dtype: float64

In [22]:
# Deleting column by name
del df['league']

In [29]:
## NA counter function for each column
def nacount(table):
    return table.isnull().sum()

nacount(df)

date           0
league_id      0
team1          0
team2          0
spi1           0
spi2           0
prob1          0
prob2          0
probtie        0
proj_score1    0
proj_score2    0
score1         0
score2         0
xg1            0
xg2            0
nsxg1          0
nsxg2          0
adj_score1     0
adj_score2     0
dtype: int64

## Useful Operations

In [ ]:
## Mean imputation
df['A'].fillna(value=df['A'].mean())